{{ define "admin/index" }}
<!doctype html>
<html lang="en" data-bs-theme="dark" class="dark">
  {{ template "components/headers" .}}
  <body class="bg-gray-800 text-white">
    {{ template "components/navbar" .}}

    <div class="p-6">
      <div class="flex space-x-4">
        <a href="/admin/users" class="px-6 py-3 bg-blue-600 hover:bg-blue-700 text-white font-semibold rounded-lg transition duration-300">
          View Users
        </a>
        <a href="/admin/robots" class="px-6 py-3 bg-blue-600 hover:bg-blue-700 text-white font-semibold rounded-lg transition duration-300">
          View Robots
        </a>
        <a href="/admin/validate" class="px-6 py-3 bg-blue-600 hover:bg-blue-700 text-white font-semibold rounded-lg transition duration-300">
          Validate reward
        </a>
      </div>
    </div>
  </body>
</html>
{{ end }}

<!-- vim: set ts=2 sts=2 sw=2 et: -->
