{{ define "redeem" }}
<!doctype html>
<html lang="en" data-bs-theme="dark" class="dark">
  {{ template "components/headers" .}}
  <body class="bg-gray-800 text-white">
    {{ template "components/navbar" .}}

    <div class="p-6">
      <h1 class="text-2xl font-semibold mb-4">Show the QR Code to redeem your prize</h1>
      <img src="https://api.qrserver.com/v1/create-qr-code/?size=150x150&data={{ .qrString }}" alt="QR Code" class="mx-auto border border-gray-500 rounded-lg shadow-lg max-w-full max-h-full">
    </div>
  </body>
</html>
{{ end }}

<!-- vim: set ts=2 sts=2 sw=2 et: -->
